body
  font-family "Helvetica Neue", "Lucida Grande", "Arial"
  font-size 13px
  text-align center
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555
h2
  margin 0
  font-size 22px
  color #343434
h1
  margin 0
  font-size 22px
  text-shadow 1px 2px 2px #ddd
  font-size 60px
  color #00ff00
#links
  text-align left
  margin-right auto
  margin-left auto
  width 320px
  .link
    margin 20px
#articles
  text-align left
  margin-left auto
  margin-right auto
  width 320px
  .article
    margin 20px
    .created_at
        display none
    .title
        font-weight bold
        text-decoration underline
        background-color #eee
    .body
        background-color #ffa
.article
  .created_at
    display none
  input[type =text]
    width 490px
    margin-left 16px
  input[type =button], input[type =submit]
    text-align left
    margin-left 440px
  textarea
    width 490px
